# created by virtualenv automatically
.DS store
bin/
lib/


# ide
.idea/
*.iml

# tmp data
*.swp
*~
temporary/

# data
dataset/
output/
models/

db.sqlite3
/migrations/__init__.py
/Recipe/settings.py
/var/tmp/Recipe_cache

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
