{%  load static %}

<header class="header">
    <div class="container container--narrow">
      <a href='{% url 'home' %}' class="header__logo">
        <img src="{% static 'images/logo.png' %}" alt="Logo" />
      </a>
      <nav class="header__nav">
        <input type="checkbox" id="responsive-menu" />
        <label for="responsive-menu" class="toggle-menu">
          <span>Menu</span>
          <div class="toggle-menu__lines"></div>
        </label>
        <ul class="header__menu">
          <li class="header__menuItem"><a href='{% url 'home' %}'>所有食譜</a></li>

{#          <li class="header__menuItem"><a href="">Inbox</a></li>#}

            {% if request.user.is_authenticated %}
            <li class="header__menuItem"><a href="{% url 'my-recipe' %}">我的食譜</a></li>
            <li class="header__menuItem"><a href="{% url 'create-recipe' %}">新增食譜</a></li>
{#            <li class="header__menuItem"><a href="#">購物清單</a></li>#}
            <li class="header__menuItem"><a href="{% url 'logout' %}" class="btn btn--sub">登出</a></li>
            {% else %}
            <li class="header__menuItem"><a href="{% url 'login' %}">新增食譜書</a></li>
            <li class="header__menuItem"><a href="{% url 'login' %}" class="btn btn--sub">登入</a></li>
            {% endif %}
        </ul>
      </nav>
    </div>
  </header>