{% extends 'main.html' %}

{% block content %}
<style>
    .hidden{
        display:none
    }

</style>
    {%  if message %}
        {{ message }}
    {% endif %}
<main class="formPage my-xl">
        <div class="content-box">
            <div class="formWrapper">
                <a class="backButton" href="{% url 'home' %}"><i class="im im-angle-left"></i><</a>
                <br>

                <form  class="form" method="POST" enctype="multipart/form-data">
                    <h3>食譜</h3>
                    {% csrf_token %}
                    {{ form.as_p }}
                    <br>

                    <h3>食材</h3>
                    {{ material_formset.management_form }}

                    <div id="ingredient-form-list">
                        {% for form in material_formset %}
                            <div id= 'form-0' class='ingredient-form'>
                            {{ form.as_p }}
                            </div>
                        {% endfor %}

                    </div>


                    <div id="empty-form" class="hidden">{{ material_formset.empty_form }}</div>


                    <div id="material-form"></div>
                    <br>


{#                    <button  class="btn btn btn--sm"  hx-post="{% url 'create-material' %}"  hx-swap="beforeend" hx-target="#materialforms">+</button>#}
                    <button class="btn btn btn--sm" id="add-more" type="button">＋</button>



                    <br>
                    <br>

                    <h3>調味料</h3>

                    {{ sauce_formset.management_form }}

                    <div id="sauce-form-list">
                        {% for form in sauce_formset %}
                            <div id= 'form-0' class='sauce-form'>
                            {{ form.as_p }}
                            </div>
                        {% endfor %}

                    </div>


                    <div id="sauce-empty-form" class="hidden">{{ sauce_formset.empty_form }}</div>
                    <br>
                    <button class="btn btn btn--sm" id="sauce-add-more" type="button">＋</button>

                    <div id="sauce-form"></div>

                     <button class="btn btn--sub btn--lg  my-md" type="submit">送出</button>
                </form>
            </div>
        </div>
    </main>

        <script>
            const addMoreBtn = document.getElementById('add-more')
            const totalNewForms = document.getElementById('id_material_set-TOTAL_FORMS')
            addMoreBtn.addEventListener('click',add_new_form)

            function add_new_form(event){
                if(event) {
                    event.preventDefault()
                }
                const currentIngredientForms = document.getElementsByClassName('ingredient-form')

                let currentFormCount = currentIngredientForms.length
                console.log(currentIngredientForms.length)
                const formCopyTarget = document.getElementById('ingredient-form-list')
                const copyEmptyFormEl = document.getElementById('empty-form').cloneNode(true)
                copyEmptyFormEl.setAttribute('class','ingredient-form')
                copyEmptyFormEl.setAttribute('id',`form-${currentFormCount}`)
                const regex = new RegExp('__prefix__','g')
                copyEmptyFormEl.innerHTML = copyEmptyFormEl.innerHTML.replace(regex, currentFormCount)
                totalNewForms.setAttribute('value', currentFormCount + 1)
                formCopyTarget.append(copyEmptyFormEl)
            }
2
                     const addMoreBtn2 = document.getElementById('sauce-add-more')
            const totalNewForms2 = document.getElementById('id_sauce_set-TOTAL_FORMS')
            addMoreBtn2.addEventListener('click',add_new_sauce_form)

            function add_new_sauce_form(event) {
                if (event) {
                    event.preventDefault()
                }
                const currentSauceForms = document.getElementsByClassName('sauce-form')

                let currentFormCount = currentSauceForms.length
                console.log(currentSauceForms.length)
                const formCopyTarget = document.getElementById('sauce-form-list')
                const copyEmptyFormEl = document.getElementById('sauce-empty-form').cloneNode(true)
                copyEmptyFormEl.setAttribute('class', 'sauce-form')
                copyEmptyFormEl.setAttribute('id', `form-${currentFormCount}`)
                const regex = new RegExp('__prefix__', 'g')
                copyEmptyFormEl.innerHTML = copyEmptyFormEl.innerHTML.replace(regex, currentFormCount)
                totalNewForms2.setAttribute('value', currentFormCount + 1)
                formCopyTarget.append(copyEmptyFormEl)
            }


    </script>

{% endblock %}